{% extends 'base.html' %}
{% block title%} 
About
{% endblock %}

{% block content%}
<style>
    p {
            line-height: 1.5;
            text-align: center; 
            font-weight: bold;
        }
</style> 
<p>Welcome to our Heart Disease Predictor!</p>
    <p>Our Heart Disease Predictor is an advanced system designed to assess the likelihood of heart disease based on various risk <br>factors. 
        We understand that early detection plays a crucial role in maintaining heart health and preventing serious complications.</p>
    <p>Using state-of-the-art machine learning algorithms and a comprehensive dataset, our predictor analyzes key features such as<br> 
        age, gender, cholesterol levels, blood pressure, and exercise-induced stress to provide accurate predictions. Our goal is to <br>
        empower individuals with valuable insights into their heart health, enabling them to take proactive measures for a healthier<br> 
        lifestyle.</p>
    <p>With a user-friendly interface, our Heart Disease Predictor allows you to input your personal information and receive an instant<br>
        assessment of your heart disease risk. Our system not only provides the prediction but also offers clear explanations, helping you<br>
         understand the factors influencing the result.</p>
    <p>We prioritize data privacy and adhere to strict security protocols to ensure the confidentiality of your personal information.<br>
         Rest assured that your data is handled with utmost care and is used solely for the purpose of generating accurate predictions.</p>
    <p>Please note that our Heart Disease Predictor is intended for informational purposes only and should not replace professional<br>
         medical advice. It serves as a useful tool to raise awareness and encourage proactive heart health management.</p>
    <p>Take control of your heart health today with our Heart Disease Predictor. Empower yourself with knowledge and make informed<br>
         decisions for a healthier future.</p>


{% endblock %}